.scroll-to-top-btn {
      position: fixed;
      bottom: 16px;
      right: 16px;
      border: none;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      color: #ffffff;
      background-color: #1f6feb;
}