.mt-2 {
      margin-top: 2px;
}


.p16 {
      padding: 16px;
}

.pl16 {
      padding-left: 16px;
}

.pr16 {
      padding-right: 16px;
}

.pt16 {
      padding-top: 16px;
}

.pb16 {
      padding-bottom: 16px;
}

.p8 {
      padding: 8px;
}

.pl8 {
      padding-left: 8px;
}

.pr8 {
      padding-right: 8px;
}

.pt8 {
      padding-top: 8px;
}

.pb8 {
      padding-bottom: 8px;
}

.br8 {
      border-radius: 8px;
}

.m8 {
      margin: 8px;
}

.mt8 {
      margin-top: 8px;
}

.mb8 {
      margin-bottom: 8px;
}

.ml8 {
      margin-left: 8px;
}

.mr8 {
      margin-right: 8px;
}